<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="/xmlrpc.php">
	<!-- Title -->
	<title>Home - ThatViz</title>

    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/owl.theme.default.css">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<link rel="canonical" href="https://thatviz.com" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Home" />
<meta property="og:description" content="ThatViz" />
<meta property="og:site_name" content="ThatViz" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Fully Customisable Awesome Features Fully Responsive Featured Works Smart Technology CB Digital CBD E-liquid Shop Natural CBD Evolution Web idea Demo Track Estate Agent Independent London Webdesign Pro Integration Website project Manorx Gallery What we offer Web Design We create a fully designed website. Graphic Design With design and project management experience, your brand is [&hellip;]" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />

</head>

<body>
