<div class="up-footer">
</div>
  
  </div> <!-- /.container -->
   
	<!-- Footer -->
	
	<footer id="footer" class="sm-padding bg-dark">
			
		<div class="container"><!-- container -->
			<div class="row"><!-- row -->
				<div class="col-md-12"><!-- col -->
					<div class="footer-logo"><!-- footer logo -->
	
					</div><!-- /footer logo -->

					<ul class="footer-follow"><!-- footer follow -->
						<li><a href="https://www.twitter.com/thatviz"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://instagram.com/thatvizcom"><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://www.linkedin.com/company/thatviz"><i class="fab fa-linkedin"></i></a></li>
					</ul><!-- /footer follow -->

					<div class="footer-copyright"><!-- footer copyright -->
						<p>Copyright &copy; 2015-2020 - www.thatviz.com</p>	
					</div><!-- /footer copyright -->
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
	
	<!-- /footer -->

	<div id="back-to-top">
		<i class="fas fa-chevron-up"></i><!-- back to top -->
	</div><!-- / back to top -->
