	
<!-- Header -->
	<header id="home">
		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">
				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
					<a href="/"><img src="https://ma-jones.github.io/thatvis/img/thatviz-logo-no-bg-small.png" height="35px" width="35px">						</a>
					</div>
					<!-- /Logo -->
					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span class="navbar-toggler-icon"></span>
					</div>
					<!-- /Collapse nav button -->
				    </div>
					<!--  Main navigation  -->
					<ul class="main-nav nav navbar-nav navbar-right">
					<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
					<ul id="menu-nav" class="nav navbar-nav">
					<li><a title="Training" href="https://ma-jones.github.io/thatvis/training/">Training</a></li>
					<li><a title="Recruitment" href="https://ma-jones.github.io/thatvis/recruitment/">Recruitment</a></li>
					<li><a title="Media" href="https://ma-jones.github.io/thatvis/media/">Media</a></li>
					<li><a title="Post a Job" href="https://ma-jones.github.io/thatvis/post-a-job/">Post a Job</a></li>
					<li><a title="Jobs" href="https://ma-jones.github.io/thatvis/jobs/">Jobs</a></li>
					</ul>
					</ul>
			</div>				
				<!-- /Main navigation -->
		</div>
	</nav>
<!-- /Nav -->		