<!-- Scripts -->
<script src="{{ "/ma-jones.github.io/thatvis/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/ma-jones.github.io/thatvis/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/ma-jones.github.io/thatvis/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/ma-jones.github.io/thatvis/js/jquery.magnific-popup.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/ma-jones.github.io/thatvis/js/main.js" | prepend: site.baseurl }}"></script>
</body>